torch==2.9.1

hydra-core==1.2.0
hydra-colorlog==1.2.0
omegaconf==2.3.0
tqdm==4.69.0
wandb==0.25.0

transformers==4.39.2
tokenizers==0.15.2
huggingface_hub==0.36.2
einops==0.8.2
peft==0.11.1
numpy==1.26.4

lightning==2.6.1
pytorch-lightning==2.6.1
torchmetrics==1.8.2
dm-tree==0.1.10
rich==15.0.0
datasets==2.20.0
fairscale==0.4.13

ml_collections==1.1.0
modelcif==1.7
scipy==1.15.3
mdtraj==1.10.3
scikit-learn==1.7.2

fair-esm==2.0.0
biotite==0.41.2
biopython==1.79
tmtools==0.3.0

pyrosetta-installer==0.1.2
